<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <link href="../static/css/dashboard.css" rel="stylesheet" />

    
</head>

<body>

    <div>
        <div class="p-3 dashboard_main_heading_logout">
            <h6>Main Dashboard</h6>
            <div class="dashboard_main_logout">
                <div class="dashboard_main_logout_div">
                    <img class="dashboard_main_img" src="../static/img/logout.svg">
                </div>
                <button class="dashboard_logout_button">Logout</button>
            </div>
        </div>


        <div class="p-3">
            <div class="p-4 dashboard_indv_temperature_box">
                <div class="dashboard_indv_temperature_box_main_div">
                    <h3 class="dashboard_indv_temperature_title">
                        TEMPERTURE SENSOR 1
                    </h3>

                    <div class="dashboard_indv_nav_img_div">
                        <img class="dashboard_indv_nav_img" src="../static/img/navigate.svg">
                    </div>

                </div>

                <div class="pt-3 dashboard_temp_sensor_main_div">

                    <div class="dashboard_temp_sensor_indv_div p-3">
                        <div class="dashboard_temp_sensor_indv_div_T_R">
                            <h3 class="dashboard_temp_sensor_indv_div_T1">T1 - <span class="dashboard_temp_R_title"> R</span> </h3>
                            <div>
                                <img src="../static/img/temperature_icon.svg">
                            </div>
                        </div>

                        <div class="dashboard_temp_min_max_main_div">
                            <div>
                                <div class="dashboard_temp_min_div">
                                    Min</div>
                                <div class="dashboard_temp_min_value_div">
                                    20.2 °C</div>
                            </div>
                            <div class="dashboard_temp_avg_value_div">23.66 <span>°C</span></div>
                            <div>
                                <div class="dashboard_temp_max_div">
                                    Max</div>
                                <div class="dashboard_temp_max_value_div" >
                                    20.2 °C</div>
                            </div>
                        </div>
                    </div>
                    <!-- ****** -->
                    <div class="dashboard_temp_sensor_indv_div p-3">
                        <div class="dashboard_temp_sensor_indv_div_T_R">
                            <h3  class="dashboard_temp_sensor_indv_div_T1">T1 - <span class="dashboard_temp_Y_title">Y</span> </h3>
                            <div>
                                <img src="../static/img/temperature_icon.svg">
                            </div>
                        </div>

                        <div class="dashboard_temp_min_max_main_div">
                            <div>
                                <div class="dashboard_temp_min_div">
                                    Min</div>
                                <div class="dashboard_temp_min_value_div">
                                    20.2 °C</div>
                            </div>
                            <div class="dashboard_temp_avg_value_div">23.66 <span>°C</span></div>
                            <div>
                                <div class="dashboard_temp_max_div">
                                    Max</div>
                                <div class="dashboard_temp_max_value_div" >
                                    20.2 °C</div>
                            </div>
                        </div>
                    </div>
                    <!-- ********** -->
                    <div class="dashboard_temp_sensor_indv_div p-3">
                        <div class="dashboard_temp_sensor_indv_div_T_R">
                            <h3  class="dashboard_temp_sensor_indv_div_T1">T1 - <span class="dashboard_temp_B_title"> B</span> </h3>
                            <div>
                                <img src="../static/img/temperature_icon.svg">
                            </div>
                        </div>

                        <div class="dashboard_temp_min_max_main_div">
                            <div>
                                <div class="dashboard_temp_min_div">
                                    Min</div>
                                <div class="dashboard_temp_min_value_div">
                                    20.2 °C</div>
                            </div>
                            <div class="dashboard_temp_avg_value_div">23.66 <span>°C</span></div>
                            <div>
                                <div class="dashboard_temp_max_div">
                                    Max</div>
                                <div class="dashboard_temp_max_value_div" >
                                    20.2 °C</div>
                            </div>
                        </div>
                    </div>
                    <!-- ********** -->
                </div>

            </div>
        </div>
    </div>
</body>

</html>