<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" />
    <link href="../static/css/dashboard.css" rel="stylesheet" />

</head>

<body>
    <div class="d-flex flex-column min-vh-100">
        <div>
            <div>
                <div class="p-3 dashboard_main_heading_logout">
                    <h6>Main Dashboard</h6>
                    <div class="dashboard_main_logout">
                        <!-- <div class="dashboard_main_logout_div">
                            <img class="dashboard_main_img" src="../static/img/logout.svg">
                        </div>
                        <a href="{{ url_for('home') }}"><button class="dashboard_logout_button">Logout</button></a> -->
                        <!-- ****************** -->
                         <div>
                            {% include 'setting.html' %}
                         </div>
                        <!-- ****************** -->
                    </div>
                </div>


                {% for device in devices %}
                <div class="p-3">
                    <div class="p-4 dashboard_indv_temperature_box">
                        <div class="dashboard_indv_temperature_box_main_div">
                            <h3 class="dashboard_indv_temperature_title">
                                {{ device.device_id }}
                            </h3>

                            <a href="{{ url_for('temperature') }}">
                                <div class="dashboard_indv_nav_img_div">
                                    <img class="dashboard_indv_nav_img" src="../static/img/navigate.svg">
                                </div>
                            </a>

                        </div>

                        <div class="pt-3">
                            <input type="text" value="{{ updated_name }}" id="control_panel_edit_1"
                                class="control_panel_edit" readonly>
                            <button class="edit_name" id="edit_name_1">
                                <img src="../static/img/akar-icons_edit.png" alt="" height="40">
                            </button>
                            <button class="apply_name" id="apply_name_1" style="display: none;">Apply</button>


                            <div class="pt-3 dashboard_temp_sensor_main_div">

                                <div class="dashboard_temp_sensor_indv_div p-3">
                                    <div class="dashboard_temp_sensor_indv_div_T_R">
                                        <h3 class="dashboard_temp_sensor_indv_div_T1"> <span
                                                class="dashboard_temp_R_title">
                                                R1</span> </h3>
                                        <div>
                                            <img src="../static/img/temperature_icon.svg">
                                        </div>
                                    </div>

                                    <div class="dashboard_temp_min_max_main_div">
                                        <div>
                                            <div class="dashboard_temp_min_div">
                                                Min</div>
                                            <div class="dashboard_temp_min_value_div"
                                                id="R1-min-{{ device.device_id }}">
                                                20.2 °C</div>
                                        </div>
                                        <div class="dashboard_temp_avg_value_div" id="R1-{{ device.device_id }}">
                                            <span>°C</span></div>
                                        <div>
                                            <div class="dashboard_temp_max_div">
                                                Max</div>
                                            <div class="dashboard_temp_max_value_div"
                                                id="R1-max-{{ device.device_id }}">
                                                20.2 °C</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ** -->
                                <div class="dashboard_temp_sensor_indv_div p-3">
                                    <div class="dashboard_temp_sensor_indv_div_T_R">
                                        <h3 class="dashboard_temp_sensor_indv_div_T1"> <span
                                                class="dashboard_temp_Y_title">Y1</span> </h3>
                                        <div>
                                            <img src="../static/img/temperature_icon.svg">
                                        </div>
                                    </div>

                                    <div class="dashboard_temp_min_max_main_div">
                                        <div>
                                            <div class="dashboard_temp_min_div">
                                                Min</div>
                                            <div class="dashboard_temp_min_value_div"
                                                id="Y1-min-{{ device.device_id }}">
                                                20.2 °C</div>
                                        </div>
                                        <div class="dashboard_temp_avg_value_div" id="Y1-{{ device.device_id }}">
                                            <span>°C</span></div>
                                        <div>
                                            <div class="dashboard_temp_max_div">
                                                Max</div>
                                            <div class="dashboard_temp_max_value_div"
                                                id="Y1-max-{{ device.device_id }}">
                                                20.2 °C</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- **** -->
                                <div class="dashboard_temp_sensor_indv_div p-3">
                                    <div class="dashboard_temp_sensor_indv_div_T_R">
                                        <h3 class="dashboard_temp_sensor_indv_div_T1"> <span
                                                class="dashboard_temp_B_title">
                                                B1</span> </h3>
                                        <div>
                                            <img src="../static/img/temperature_icon.svg">
                                        </div>
                                    </div>

                                    <div class="dashboard_temp_min_max_main_div">
                                        <div>
                                            <div class="dashboard_temp_min_div">
                                                Min</div>
                                            <div class="dashboard_temp_min_value_div"
                                                id="B1-min-{{ device.device_id }}">
                                                20.2 °C</div>
                                        </div>
                                        <div class="dashboard_temp_avg_value_div" id="B1-{{ device.device_id }}">
                                            <span>°C</span></div>
                                        <div>
                                            <div class="dashboard_temp_max_div">
                                                Max</div>
                                            <div class="dashboard_temp_max_value_div"
                                                id="B1-max-{{ device.device_id }}">
                                                20.2 °C</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- **** -->
                            </div>
                        </div>
                        <div class="pt-3">
                            <input type="text" value="{{updated_name_2}}" class="control_panel_edit"
                                id="control_panel_edit_2" readonly>
                            <button class="edit_name" id="edit_name_2"><img src="../static/img/akar-icons_edit.png"
                                    alt="" height="40"></button>
                            <button class="apply_name" id="apply_name_2" style="display: none;">Apply</button>



                            <div class="pt-3 dashboard_temp_sensor_main_div">

                                <div class="dashboard_temp_sensor_indv_div p-3">
                                    <div class="dashboard_temp_sensor_indv_div_T_R">
                                        <h3 class="dashboard_temp_sensor_indv_div_T1"> <span
                                                class="dashboard_temp_R_title">
                                                R2</span> </h3>
                                        <div>
                                            <img src="../static/img/temperature_icon.svg">
                                        </div>
                                    </div>

                                    <div class="dashboard_temp_min_max_main_div">
                                        <div>
                                            <div class="dashboard_temp_min_div">
                                                Min</div>
                                            <div class="dashboard_temp_min_value_div"
                                                id="R2-min-{{ device.device_id }}">
                                                20.2 °C</div>
                                        </div>
                                        <div class="dashboard_temp_avg_value_div" id="R2-{{ device.device_id }}">
                                            <span>°C</span></div>
                                        <div>
                                            <div class="dashboard_temp_max_div">
                                                Max</div>
                                            <div class="dashboard_temp_max_value_div"
                                                id="R2-max-{{ device.device_id }}">
                                                20.2 °C</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ** -->
                                <div class="dashboard_temp_sensor_indv_div p-3">
                                    <div class="dashboard_temp_sensor_indv_div_T_R">
                                        <h3 class="dashboard_temp_sensor_indv_div_T1"> <span
                                                class="dashboard_temp_Y_title">Y2</span> </h3>
                                        <div>
                                            <img src="../static/img/temperature_icon.svg">
                                        </div>
                                    </div>

                                    <div class="dashboard_temp_min_max_main_div">
                                        <div>
                                            <div class="dashboard_temp_min_div">
                                                Min</div>
                                            <div class="dashboard_temp_min_value_div"
                                                id="Y2-min-{{ device.device_id }}">
                                                20.2 °C</div>
                                        </div>
                                        <div class="dashboard_temp_avg_value_div" id="Y2-{{ device.device_id }}">
                                            <span>°C</span></div>
                                        <div>
                                            <div class="dashboard_temp_max_div">
                                                Max</div>
                                            <div class="dashboard_temp_max_value_div"
                                                id="Y2-max-{{ device.device_id }}">
                                                20.2 °C</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- **** -->
                                <div class="dashboard_temp_sensor_indv_div p-3">
                                    <div class="dashboard_temp_sensor_indv_div_T_R">
                                        <h3 class="dashboard_temp_sensor_indv_div_T1"> <span
                                                class="dashboard_temp_B_title">
                                                B2</span> </h3>
                                        <div>
                                            <img src="../static/img/temperature_icon.svg">
                                        </div>
                                    </div>

                                    <div class="dashboard_temp_min_max_main_div">
                                        <div>
                                            <div class="dashboard_temp_min_div">
                                                Min</div>
                                            <div class="dashboard_temp_min_value_div"
                                                id="B2-min-{{ device.device_id }}">
                                                20.2 °C</div>
                                        </div>
                                        <div class="dashboard_temp_avg_value_div" id="B2-{{ device.device_id }}">
                                            <span>°C</span></div>
                                        <div>
                                            <div class="dashboard_temp_max_div">
                                                Max</div>
                                            <div class="dashboard_temp_max_value_div"
                                                id="B2-max-{{ device.device_id }}">
                                                20.2 °C</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- **** -->
                            </div>
                        </div>

                        <div class="pt-3">
                            <input type="text" value="{{updated_name_3}}" class="control_panel_edit"
                                id="control_panel_edit_3" readonly>
                            <button class="edit_name" id="edit_name_3"><img src="../static/img/akar-icons_edit.png"
                                    alt="" height="40"></button>
                            <button class="apply_name" id="apply_name_3" style="display: none;">Apply</button>

                            <div class="pt-3 dashboard_temp_sensor_main_div">

                                <div class="dashboard_temp_sensor_indv_div p-3">
                                    <div class="dashboard_temp_sensor_indv_div_T_R">
                                        <h3 class="dashboard_temp_sensor_indv_div_T1"> <span
                                                class="dashboard_temp_R_title">
                                                R3</span> </h3>
                                        <div>
                                            <img src="../static/img/temperature_icon.svg">
                                        </div>
                                    </div>

                                    <div class="dashboard_temp_min_max_main_div">
                                        <div>
                                            <div class="dashboard_temp_min_div">
                                                Min</div>
                                            <div class="dashboard_temp_min_value_div"
                                                id="R3-min-{{ device.device_id }}">
                                                20.2 °C</div>
                                        </div>
                                        <div class="dashboard_temp_avg_value_div" id="R3-{{ device.device_id }}">
                                            <span>°C</span></div>
                                        <div>
                                            <div class="dashboard_temp_max_div">
                                                Max</div>
                                            <div class="dashboard_temp_max_value_div"
                                                id="R3-max-{{ device.device_id }}">
                                                20.2 °C</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ** -->
                                <div class="dashboard_temp_sensor_indv_div p-3">
                                    <div class="dashboard_temp_sensor_indv_div_T_R">
                                        <h3 class="dashboard_temp_sensor_indv_div_T1"> <span
                                                class="dashboard_temp_Y_title">Y3</span> </h3>
                                        <div>
                                            <img src="../static/img/temperature_icon.svg">
                                        </div>
                                    </div>

                                    <div class="dashboard_temp_min_max_main_div">
                                        <div>
                                            <div class="dashboard_temp_min_div">
                                                Min</div>
                                            <div class="dashboard_temp_min_value_div"
                                                id="Y3-min-{{ device.device_id }}">
                                                20.2 °C</div>
                                        </div>
                                        <div class="dashboard_temp_avg_value_div" id="Y3-{{ device.device_id }}">
                                            <span>°C</span></div>
                                        <div>
                                            <div class="dashboard_temp_max_div">
                                                Max</div>
                                            <div class="dashboard_temp_max_value_div"
                                                id="Y3-max-{{ device.device_id }}">
                                                20.2 °C</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- **** -->
                                <div class="dashboard_temp_sensor_indv_div p-3">
                                    <div class="dashboard_temp_sensor_indv_div_T_R">
                                        <h3 class="dashboard_temp_sensor_indv_div_T1"> <span
                                                class="dashboard_temp_B_title">
                                                B3</span> </h3>
                                        <div>
                                            <img src="../static/img/temperature_icon.svg">
                                        </div>
                                    </div>

                                    <div class="dashboard_temp_min_max_main_div">
                                        <div>
                                            <div class="dashboard_temp_min_div">
                                                Min</div>
                                            <div class="dashboard_temp_min_value_div"
                                                id="B3-min-{{ device.device_id }}">
                                                20.2 °C</div>
                                        </div>
                                        <div class="dashboard_temp_avg_value_div" id="B3-{{ device.device_id }}">
                                            <span>°C</span></div>
                                        <div>
                                            <div class="dashboard_temp_max_div">
                                                Max</div>
                                            <div class="dashboard_temp_max_value_div"
                                                id="B3-max-{{ device.device_id }}">
                                                20.2 °C</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- **** -->
                            </div>
                        </div>



                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- pls inset footer backend-->
        <footer class="py-2 mt-auto text-center">
            <div> Powered By <span>EVOLUZN</span></div>
        </footer>
        <!-- pls inset footer backend-->

    </div>
    <script src="../static/js/socket.io.js"></script>
    <script src="../static/js/graph.js"></script>
    <script src="../static/js/dashboard.js"></script>
</body>

</html>